<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Teste</title>
        <link rel="stylesheet" href="/css/{{style}}">
    </head>

    <body>
        {{{body}}}


        <script src="/js/javascript.js"></script>
    </body>
</html>