{{> header}}

<div class="box">
    <form name='form1' action='controllerForm' method='post'>
        <fieldset>
            <legend><b>Insira os dados</b></legend>
            <br>
            <div class="inputBox">
                <input type='text' name='id' id='id' placeholder='Id:' class="inputUser" required>
            </div>
            <br><br>
            <div class="inputBox">
                <input type='text' name='name' id='name' placeholder='Name:' class="inputUser" required>
            </div>
            <br><br>
            <div class="inputBox">
                <input type='text' name='age' id='age' placeholder='Age:' class="inputUser" required>
            </div>
            <br><br>
            <input type='submit' name='btnSubmit' id='btnSubmit' value='Adicionar'>
        </fieldset>
    </form>    
</div>